In [1]:
print("hello world, my name is Wayne")

hello world

In [4]:
# this is a single line comment
print("hello there")
# this is a multi line comment
"""
This is a multi-line comment, I hope
"""
print("Hello again")

hello there
Hello again

In [10]:
print('Then Alexander said "Come here Watson, I want you”')

Then Alexander said "Come here Watson, I want you”

# Now let's talk about data types

In [7]:
# integer
a = 123
print(a)
# negative integer
b = -493
print(b)
c = 1,234,567
print(c) # Hmmm. That didn't work right. why not

123
-493
(1, 234, 567)

In [3]:
a = 123.0
print (a)

123.0

In [11]:
score1 = 25
score2 = 21
print('The score is ', score1, 'to', score2)
print("the types of score1 and score 2 are", type(score1),type(score2))

The score is  25 to 21
the types of score1 and score 2 are <class 'int'> <class 'int'>

##  Now let's do some math

In [ ]:
a = 123.0
print (a)
a = -98.3232
print(a)