# Input

In [3]:
# Simple input. Note: It's always a string
a1 = input("What is your name friend?")
print(a1, type(a1))

What is your name friend?Wayne
Wayne <class 'str'>

In [10]:
# If we know it's an integer, we can convert the string directly
a1 = int(input("Please enter an integer:"))
print(a1)

Please enter an integer:30
30

In [8]:
# Or we can do 2 separate steps 
a1 = input("Please enter an integer:")
a1 = int(a1)
print(a1)

Please enter an integer:30
30

# Formatted Output

In [11]:
print(10)

10

In [12]:
print("10")

10

In [13]:
print("the number is", 10) # Note the space inserted at the end

the number is 10

In [40]:
b = 789
print("b is", b, "b-1 is", b-1, "b-2 is", b-2)

b is 789 b-1 is 788 b-2 is 787

In [41]:
print("Tall"+"Grass") # Note no “ “ added between

TallGrass

In [42]:
print("*"*5)

*****

In [43]:
print(10)
print(11)

10
11

In [44]:
print(10);print(11) # ";" Enables stmts on one line, but still prints 2

10
11

In [47]:
print(10, end="!!"); print(11) # the end="!!" avoids newline

10!!11

In [48]:
print("We are closer to {0} than {1}".format("Sunnvayle","San Francisco"))

We are closer to Sunnvayle than San Francisco

In [49]:
sanFran = "San Francisco"
print("We are closer to {city1} than {b}".format(city1="Sunnvayle",b=sanFran))

We are closer to Sunnvayle than San Francisco

In [16]:
count = 2
objs = "toys"
price = 12.45
print("The %d %s cost $%f" %(int("10"),objs,price))

The 10 toys cost $12.450000

In [20]:
PI = 3000.1415
print("The value of Pi is %0.3f" %PI)

The value of Pi is 3000.142

In [26]:
PI = 3.1415
print("The value of Pi is: {:0.2f}".format(PI))

The value of Pi is: 3.14

# Strings

In [28]:
string1 = "Python"
print(len(string1))

6

In [30]:
string1 = "Python"
string2 = "Fun"
print(string1 + string2)
print(string1 + " " + string2)

PythonFun
Python Fun

In [31]:
string1 = "Python"
for item in string1:
    print(item)

P
y
t
h
o
n

In [36]:
string1 = "Python"
print('y' in string1)
print('z' in string1)

True
False

In [21]:
string1 = "Python"
print(string1.find("o"))

4

In [35]:
string1 = "Python"
print(string1.find("z", 0, len(string1))) # note this returns -1

-1

In [51]:
string1 = "Python"
print(string1.index("th", 0, len(string1)))
# Note if this fails, return is value_error: substring not found, not -1

2

In [22]:
string1 = "Python"
print(string1.lower())
print(string1) # Note original string is not affected, it was a copy

python
Python

In [39]:
string1 = "Python"
print(string1.upper())

PYTHON

In [24]:
string2 = "hazzaa what happens"
print(string2.title())

Hazzaa What Happens

In [52]:
print("  Python rules ".strip()) # by default it removes space fr/bk

Python rules

In [35]:
print("Ouch that hurts!!".strip("suO!")) # but you can remove other ch's

ch that hurt

In [44]:
print("Dynamic typing".split())

['Dynamic', 'typing']

In [45]:
print("one thousand, two thousand".split(","))

['one thousand', ' two thousand']

In [47]:
list1 = ["sunny", "weather"]
delimiter = "**"
print(delimiter.join(list1))

sunny**weather

# --------- if, elif ---------

In [14]:
import datetime
currentDT = datetime.datetime.now()
if(currentDT.hour < 12):
    print("Good Morning!")
elif(currentDT.hour < 19):
    print("Good afternoon")
else:
    print("Good evening")

Good evening

In [15]:
# 1 branch example
user_input = input("enter a word: ")
if (user_input == "code"):
    print("You entered a cool word!")

enter a word: foobar

In [16]:
# 2 branch example
x = int(input("What is your age? "))
if(x < 21):
    print("Sorry, you need to be 21 to come in here")
else:
    print("Welcome. You are allowed to enter")

What is your age? 43
Welcome. You are allowed to enter

In [18]:
# 3 branch example
x = int(input("Please enter your net worth:"))
if (x < 0):
    print("Sorry about that. I guess you need a loan")
elif (x == 0):
    print("Hmm. You need to save more")
else:
    print("Nice. congratulations on your saving")

Please enter your net worth:234
Nice. congratulations on your saving

## ---------- Ranges ---------

In [ ]:
# 1 range() example. Note that a negative value results in empty list
a = range(4)
b = range(-4)
print(a,b);
print(list(a),list(b))

In [ ]:
# 2 range() example. Note that a negative value results in empty list
a = range(-3, 3)
b = range(4, -4)
print(list(a), list(b))

In [ ]:
# 3 range() Example. 
# Note they don't have to end evenly at end of range
# Note that -1 counts downward
a = range(2, 7, 3) 
b = range(9, 1, -2)
print(list(a), list(b))

## --------- for loops ---------

In [ ]:
# 1 For loop example
s1 = "code"
for s in s1:
    print(s)

In [ ]:
# 2 For loop example
s2 = 4
# try the first for statement below. It doesn't work. Why not, and why does the second?
#for s in s2:
for s in range(s2):
    print(s)
s3 = range(s2)
print(s3)

In [ ]:
# 3 For loop example (Note: just a thought exercise, not useful)
b1 = True
# try the first for statement below. It doesn't work. 
# Why not, and why does the second? Why does it print only 0, and not False
#for b in b1:
for b in range(b1):
    print(b)

# ------ While ------

In [ ]:
# 1 While Example
x = 4
while (x < 7):
    print(x)
    x = x + 1

In [ ]:
# 2 While example (NEVER EXECUTES)
a = 20
while (a < 10):
    print(a)
    a = a-1

In [ ]:
# 3 While example. Get input until sentinel value reached
# x = 0
while(x != -1):
    x = int(input("Enter value to cube, -1 to quit:"))
    print(x*x*x)
print("Done")

## ------- Control statements ---------

In [ ]:
#1 Break example
string1 = "Python"
for item in string1:
    if(item == "h"):
        break
    print(item)

In [ ]:
# 1 continue example
string1 = "Python"
for item in string1:
    if(item == "h"):
        print("We Found h!!")
        continue
    print(item)

In [ ]:
# 1 pass example
string1 = "The quick brown fox"
for item in string1:
    pass

In [ ]:
# 1 mutability example:
a = 10
b = a
# At this point object ID’s of these two objects are identical
print(id(a),id(b))
b = b + 20
# Now they are different
print(id(a),id(b))

In [ ]:
# 2 mutabilty example
word = "game"
#word[0] = "l"
# instead of you have to build a new string
word = "l" + "ame"
print(word)